/alerting-dashboards-plugin/
/alerting/
/anomaly-detection-dashboards-plugin/
/anomaly-detection/
/asynchronous-search/
/common-utils/
/dashboards-reports/
/dashboards-visualizations/
/index-management-dashboards-plugin/
/index-management/
/job-scheduler/
/k-nn/
/notifications/
/performance-analyzer/
/performance-analyzer-rca/
/security-dashboards-plugin/
/security/
/sql/
/trace-analytics/
/observability/
/node_modules/
/cross-cluster-replication/
/ml-commons/
/geospatial/
/opensearch-oci-object-storage/
