alertingDashboards/
anomalyDetectionDashboards/
ganttChartDashboards/
indexManagementDashboards/
notebooksDashboards/
notificationsDashboards/
queryWorkbenchDashboards/
reportsDashboards/
securityDashboards/
traceAnalyticsDashboards/
