queryWorkbenchDashboards/
alertingDashboards/
notificationsDashboards/
securityDashboards/
indexManagementDashboards/
anomalyDetectionDashboards/
reportsDashboards/
observabilityDashboards/
ganttChartDashboards/
searchRelevanceDashboards/
customImportMapDashboards/
securityAnalyticsDashboards/
mlCommonsDashboards/
assistantDashboards/
flowFrameworkDashboards/
queryInsightsDashboards/
